# Python cache, anywhere
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Artifacts
*.pkl
*.png
# Large artifacts
run_artifacts.pkl
SavedItems/**/run_artifacts.pkl
*.pkl

# Virtual environments
.venv/
venv/
